<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madgroupproject" >

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />



    <application
        android:name=".main.MyApplication"
        android:theme="@style/Theme.MAD"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fitness Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">


        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Goal Notification -->
        <receiver
            android:name=".main.GoalNotificationReceiver"
            android:exported="false"/>

        <!-- Streak Notification -->
        <receiver
            android:name=".main.StreakNotificationReceiver"
            android:exported="false"/>


        <service
            android:name=".main.StepTrackingService"
            android:exported="false"
            android:foregroundServiceType="health" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

<!--        game level share button-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.madgroupproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>